.main-nav__list-link {
  color: $color-basic-black;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  display: block;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-nav__list-link--mobile {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 22px 0 24px 0;
}

.main-header__logo-img {
  width: 33px;
  height: 38px;
}

.main-header__logo-text {
  width: 101px;
  height: 18px;
}

.main-header__toggle {
  width: 18px;
  height: 18px;
}

.main-header__logo-wrapper {
  display: flex;
}

.main-header__logo-wrapper--mobile {
  align-items: center;
  justify-content: space-between;
  padding: 13px auto 15px auto;
}
