.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: $color-basic-black;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 192px 0 162px;
  }
}

.programs__description {
  color: $color-dark-gray;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;
  margin: 0;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 0;
    padding: 24px 253px 52px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 27px 0;
  }
}

.programs__card {
  background-color: $bg-color-grey;
  display: block;
  padding: 30px 33px 18px 20px;
  margin: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 57px 52px;
    margin: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 77px 61px 59px 52px;
  }
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-basic-black;
  margin-top: 19px;
  display: block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.programs {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 80px;
    padding: 82px 110px 71px 110px;
  }
}
