.promo {
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
    padding: 0;
  }
}

.promo__link {
  min-height: 40px;
  padding: 8px 44px;
  font-size: 14px;
  line-height: 18px;
  margin: 138px 20px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    min-height: 54px;
    padding: 14px 25px;
    margin: 50px 375px 0 120px;
  }

  @media (min-width: $desktop-width) {
    margin: 52px 287px 0 189px;
  }
}

.promo__img-wrapper {
  @media (min-width: $desktop-width) {
    width: 720px;
    height: 694px;
    position: absolute;
    right: 0;
    top: -110px;
    z-index: -1;
  }
}

.promo__background {
  @media (min-width: $desktop-width) {
    background-color: rgba(104, 183, 56, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

