.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  border: none;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  height: fit-content;
  box-sizing: border-box;
  background-color: $bg-color-button;
}
