$bg-color-button: #68b738;
$color-basic-white: #ffffff;
$bg-color-grey: #f2f2f2;
$color-dark-gray: #444444;
$color-basic-black: #000000;
$color-special-gray: #666666;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
