@import "./variables.scss";

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.catalog__item-info-list {
  font-family: "Lato", sans-serif;
  color: $color-dark-gray;
  font-size: 12px;
  line-height: 16px;
  width: 140px;
}

.info-list__item-name {
  float: left;
  margin-right: 15px;
}

.info-list__item-value {
  text-align: right;
  margin: 0;
}

.catalog__list {
  border-top: 1px solid #ebebeb;
}

.catalog__item {
  border-bottom: 1px solid #ebebeb;
  padding: 11px 0 14px 0;
}

.page__header--catalog {
  padding-bottom: 41px;
}

.catalog__item-button {
  margin-top: 13px;
  width: 280px;
  min-height: 40px;
}

.catalog__more-title {
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 8px;
  text-align: center;
}

.catalog__more-description {
  font-family: "Lato", sans-serif;
  color: $color-dark-gray;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 21px;
  text-align: center;
}

.catalog__more-button.button {
  width: 279px;
  max-height: 40px;
  background-color: $bg-color-grey;
  color: $color-dark-gray;
  margin-bottom: 11px;
}

.catalog-additions__title {
  font-family: "Oswald", sans-serif;
  color: $color-basic-black;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
}

.additions-list__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.additions-list__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.additions-list__info-name {
  float: left;
  margin-right: 15px;
}

.additions-list__info-value {
  text-align: right;
}

.additions-list__info {
  font-family: "Lato", sans-serif;
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding-bottom: 15px;
}

.additions-list__button {
  width: 280px;
  min-height: 40px;
}

.catalog-gift {
  background-color: $bg-color-button;
  color: $color-basic-white;
  width: 280px;
  min-height: 290px;
  text-align: center;
}
